.main {
  .title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
  }
}
